#Lab Environment:

Requirements from ASM Hooks Lab:
- Base Template Blueprint discussed for Agility Labs (lbr-oscrc-f5-v13.1.0.3a-bp-180427)
- BIG-IP version 13.1.0.x (latest build we plan to use for Agility)
- Pre-configure BIG-IP w/ the following:
   - Provision ASM/LTM
   - Create virtual server to pick up traffic destined to hackazon web site
   - Create ASM policy, from Rapid Deployment Template.
      - Add Cross Site Signature Set to policy
      - Enforce all attack signatures
   - Apply ASM policy to the test virtual server
   - Create sec_irules_asm_hook_1 irule based on above code
   - Add Hackazon web application to new Ubuntu machine (existing or new TBD)

Requirements from HTTP Throttling Lab:
-  BIG-IP LTM, web server and client (Linux command line client
   preferred)
-  HTTP throttling scripts under scripts directory in Cygwin Terminal 
-  Need to add Methods_to_throttle String Datagroup with GET in the list of strings
